<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand" routerLink="/">
    <div class="navbar-brand d-flex align-items-center mx-auto">
      <img src='assets/img/home.jpg' height="60px" alt="Idneo Capex">
    </div>
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item" routerLinkActive="active" *ngIf="isApprover">
        <button mat-icon-button #tooltip="matTooltip" matTooltip="Approvals" routerLink="/approvals" class="tooltip-button">
          <mat-icon [matBadge]="badgeLength" [matBadgeHidden]="!badgeLength" matBadgeColor="warn" aria-hidden="false">
            playlist_add_check
          </mat-icon>
        </button>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
        <button #tooltip="matTooltip" matTooltip="Admin" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>person</mat-icon>
        </button>
      </li>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/admin/allRequests" class="mt-3">
          <mat-icon>list</mat-icon>
          <span>All Requests</span>
        </button>
        <button mat-menu-item routerLink="/admin/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
      </mat-menu>
      <li class="nav-item" routerLinkActive="active">
        <button (click)="logout()" #tooltip="matTooltip" matTooltip="Logout" mat-icon-button class="whitebutton">
          <mat-icon class="text-white">logout</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</nav>