h2#swal2-title
{
   font-size: 200px;
   font-family:'Lexend';
   color:theme('colors.metal');
}
div#swal2-html-container{
   font-size: 16px;
   font-family:'Heebo';
   color: theme('colors.metal');
}