<div class="logo">
    <img src="../../../../assets/img/home-logo.jpg" alt="Logo">
  </div>
  <section>
    <img class="wave" src="../../../../assets/img/background-login.png">
    <div class="container">
      <div class="img">
        <img src="../../../../assets/img/test.svg">
      </div>
      <div class="login-content elevation-card-z8">
        <form>
          <h2 class="title">REAL ESTATE WITH AI</h2>
          <p class="login-description">Sign in with your G-Suite Account to access.</p>
          <div class="center-button" style="margin: auto;">
            <a href="#" class="button">LOGIN</a>
          </div>
        </form>
      </div>
    </div>
  </section>