<div class="logo">
    <img src="../../../../assets/img/logo-idneo-login.webp" alt="Logo">
  </div>
  <section>
    <img class="wave" src="../../../../assets/img/background-login.png">
    <div class="container">
      <div class="img">
        <img src="../../../../assets/img/test.svg">
      </div>
      <div class="login-content elevation-card-z8">
        <form>
          <h2 class="title">Idneo Customer's Experience</h2>
          <p class="login-description">Sign in with your G-Suite Idneo Account to access.</p>
          <div class="center-button" style="margin: auto;">
            <div id="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_black" data-text="signin_with"
              data-size="large" data-locale="es" data-logo_alignment="left" data-callback="handleCredentialResponse">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>